<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery.js"></script>
    <script></script>
    
    <title>Quem somos nós?</title>
</head>
<body>
    <nav>
        <a href="/"><img class="logo-nav" src="img/logo.png" alt="logo"></a> 
    </nav>
    <main>
        <section class="main-text">
            <p class="main-text-style">Quem somos nós?<br> Conheça, conecte,<br> contrate!</p>
        </section>

        <section class="main-project">
            <h1 id="main-project-titulo">O que é o projeto?</h1>
            <h2 id="main-project-subtitulo"> 
                Nós, alunos do terceiro ano de informática, desenvolvemos o projeto
                "Informandos" com o intuito de nos apresentarmos formalmente para o
                mundo do trabalho. O principal meio de apresentação será através do
                LinkedIn, uma plataforma que serve como currículo virtual e te direciona a
                oportunidades de trabalho em diversas áreas, e informações sobre as nossas
                Hard skills e Soft skills e interesses na nossa área de formação, Tecnologia
                da Informação (TI).
            </h2>          
            <h1 id="saibamais">Saiba um pouco da história do <br>curso no vídeo abaixo</h1>
            <br>
            <br>
            <iframe src="https://www.youtube.com/embed/mj0S-GPw7ew" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </section>
        
        <br>
        <br>

        <section class="main-aba">
            <section class="main-search">
                <div>
                    <input type="text" id="inputSearch">
                    <img src="img/lupa.png" id="lupa" onclick="search()">
                </div>
            </section>

            <br><br>
            <section id="perfil">
                
                    
                
               
            </section>
            <br>
            <br>
        </section>
        


    </main>

    <footer>
        <div class="footer-text">
            <a href=""><img class="logop" src="img/logo.png" alt=""></a>
            <a href=""><img class="insta" src="img/insta.png" alt=""></a>
        </div>
        
    
        <p>Informandos IFF @ 2023 - All Rights Reserved</p>
    </footer>
    <script src="js/config.js"></script>
</body>
</html>